<% if @post.errors.any? %>
  <div class="flash-msg alert alert-warning" role="alert">
    <h2><%= @post.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="new-and-edit-form col-sm-4 col-sm-offset-4">
  <div class="posts-panels panel panel-default">
    <div class="panel-body text-center">
      <div>
        <%= form_for(@post) do |f| %>
          <div class="title-field">
            <%= f.label 'タイトル' %><br>
            <%= f.text_field :title, :class => "form-control" %><br>
          </div>
          <%= f.label '写真', style: "margin: 15px auto 5px;" %>
          <%= image_tag(@post.picture, :width => '100%') if @post.picture? %>
          <%= f.file_field :picture, style: "margin: 10px auto;" %>
          <%= f.hidden_field :picture_cache %>
          <br>
          <%= f.submit :class => "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-center">
    <%= link_to posts_path, class: "btn btn-default" do %>
      <%= fa_icon "arrow-circle-o-left", text: "写真の一覧へ戻る" %>
    <% end %>
  </div>
</div>
